.wrapper {
  position: fixed;
  z-index: 800;
  top: 100px;
  right: 15px;
  border-radius: var(--semi-border-radius-large);
  box-shadow: 0 7px 14px rgb(0 0 0 / 5%), 0 0 3.1271px rgb(0 0 0 / 7.98%),
    0 0 0.9311px rgb(0 0 0 / 17%);
}

.content {
  display: flex;
  width: 150px;
  height: 450px;
  flex-direction: column;
  padding: 15px;
  border-radius: var(--semi-border-radius-large);
  background-color: white;
}

.option {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 0 0 5px;
  gap: 10px;
}

.item {
  margin: 0 0 10px;
}

.colorSelection {
  width: 32px;
  height: 32px;
  border: #d6d6d6 1px solid;
  border-radius: 8px;
}
