{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-idiomatic-order"
  ],
  "plugins": ["stylelint-order", "stylelint-prettier"],
  "rules": {
    "string-quotes": "single",
    "selector-class-pattern": "^[a-z]+([A-Z][a-z]+)*$",
    "declaration-colon-newline-after": [],
    "value-list-comma-newline-after": [],
    "prettier/prettier": [
      true,
      {
        "endOfLine": "auto",
        "singleQuote": true
      }
    ]
  }
}
