.wrapper {
  display: flex;
  align-items: center;
  margin: 15px;
  gap: 10px;
}

.group {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: var(--semi-border-radius-large);
  background-color: white;
  box-shadow: 0 7px 14px rgb(0 0 0 / 5%), 0 0 3.1271px rgb(0 0 0 / 7.98%),
    0 0 0.9311px rgb(0 0 0 / 17%);

  > button {
    border-radius: var(--semi-border-radius-medium) !important;
    background-color: white;
  }
}
