{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["simple-import-sort", "@typescript-eslint", "prettier"],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-restricted-syntax": "off",
    "prettier/prettier": "error",
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "no-param-reassign": "off",
    "default-param-last": "off",
    "no-async-promise-executor": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/naming-convention": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/no-shadow": "off"
  }
}
